<!DOCTYPE html>
<html lang="de" class="no-js">
<head>
	<meta charset="utf-8" />
	
	<title>{% if meta.title %}{{ meta.title }} | {% endif %}{{ site_title }}</title>
{% if meta.description %}
	<meta name="description" content="{{ meta.description }}"> 
{% endif %}{% if meta.robots %}
	<meta name="robots" content="{{ meta.robots }}">
{% endif %}
	
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/semantic.min.css" />
    <link rel="stylesheet" href="{{ theme_url }}/style.css" />

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ theme_url }}/javascript/semantic.min.js"></script>
    {% if current_page.title == "Chat" %}
    <script src="{{ theme_url }}/javascript/candy/libs.min.js"></script>
    <script src="{{ theme_url }}/javascript/candy/candy.min.js"></script>
    <script src="{{ theme_url }}/javascript/candy/init.js"></script>

    <link rel="stylesheet" href="{{ theme_url }}/css/candy/default.css" />

    {% endif %}
</head>
<body>
    <div class="ui large vertical inverted labeled icon sidebar menu active">
        <div class="item"><h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
            {{ at_navigation.navigation }}
        </div>
    </div>

	<section id="content">
		<div class="inner">
			{{ content }}
		</div>
	</section>
    
</body>
</html>